/* ==============================================================

Project:	xxx - Creative Coming Soon Template
Info:		https://themeforest.net/item/xxx
Version:	1.0
Author:		3F-Team
Profile:	https://themeforest.net/user/3ftheme

-----------------------------------------------------------------
					*** TABLE OF CONTENTS ***
-----------------------------------------------------------------

	1.	Fonts
	2.	General
	3.	xxx
	4.	xxx
	5.	xxx
	6.	xxx
	7.	xxx
	8.	xxx
	8.	xxx
	9.  xxx
	10.	xxx
	11.	xxx
	12.	xxx

=============================================================*/
/*********************
    - 1. Fonts -
*********************/
@font-face {
  font-family: "ArcherPro Book";
  src: url("fonts/ArcherPro-Book.eot");
  src: url("fonts/ArcherPro-Book.eot?#iefix") format("embedded-opentype"), url("fonts/ArcherPro-Book.woff") format("woff"), url("fonts/ArcherPro-Book.ttf") format("truetype"), url("fonts/ArcherPro-Book.svg#ArcherPro Book") format("svg");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Monthoers";
  src: url("fonts/Monthoers.eot");
  src: url("fonts/Monthoers.eot?#iefix") format("embedded-opentype"), url("fonts/Monthoers.woff") format("woff"), url("fonts/Monthoers.ttf") format("truetype"), url("fonts/Monthoers.svg#Monthoers") format("svg");
  font-style: normal;
  font-weight: 700;
}

/*********************
    - 2. General -
*********************/
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "ArcherPro Book" , sans-serif;
}

.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

input, button, textarea {
  outline: 0 !important;
  resize: none;
}

img {
  max-width: 100%;
  border: none;
  vertical-align: middle;
}

.container {
  margin: 0px auto;
  max-width: 1170px;
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
  clear: both;
}

.fleft, .col {
  float: left;
}

.fright, .col-right {
  float: right;
}

.clear-fix,
.clearfix,
.clear {
  clear: both;
}

h1 {
  font-size: 31pt;
  font-weight: 400;
}

h2 {
  margin-top: 0;
  font-size: 17pt;
  font-family: "Monthoers", sans-serif;
  font-weight: 700;
  margin-bottom: 55px;
}

h3 {
  font-size: 10.25pt;
  font-family: "Monthoers", sans-serif;
  font-weight: 700;
}

.title-section {
  margin-top: 0;
  margin-bottom: 50px;
  color: #f5f5f5;
  text-transform: uppercase;
}

.title-section.title-red {
  color: #cd6155;
}

p {
  font-size: 8pt;
}

.btn-default {
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  color: #f5f5f5;
  text-align: center;
  font-size: 16px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-default:hover {
  color: #cd6155;
}

.btn-default span {
  color: inherit;
  font-size: inherit;
}

.btn-default.btn-res {
  border: 2px solid #cd6155;
  color: #cd6155 !important;
}

.btn-default.btn-res:hover {
  border-color: #f5f5f5;
  color: #f5f5f5 !important;
}

.btn-default.btn-res:hover span {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  color: #f5f5f5;
}

.btn-default.btn-white {
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
}

.btn-default.btn-white:hover {
  border-color: #cd6155;
  color: #cd6155;
}

.full-height {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.section-padding {
  padding: 70px 0;
}

.col-20 {
  width: 20%;
}

.col-80 {
  width: 80%;
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75%;
}

.col-33 {
  width: 33.333%;
}

.col-16 {
  width: 16.66%;
}

.col-50 {
  width: 50%;
}

.container-small {
  max-width: 700px;
  margin: 0 auto;
}

.disable {
  display: none !important;
}

.active {
  z-index: 999;
}

#order-sumary {
  margin: 150px 0 100px 0;
}

.order-login form {
  margin: 0 auto;
  max-width: 300px;
  background: #f2e2cb;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px 50px;
}

.order-login form label {
  width: 90px;
  display: inline-block;
}

.order-login form input {
  padding: 0 5px;
  width: 190px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-family: "ArcherPro Book" , sans-serif;
}

.order-login .btn-sigin {
  margin-left: 92px;
  width: 100px;
  height: 24px;
  line-height: 24px;
}

.order-detail table {
  width: 100%;
}

.order-detail table tr {
  border: 1px dotted;
}

.order-detail table td {
  padding: 0 10px;
}

.add-pet {
  border-bottom: 1px dotted;
}

.cost > span {
  display: inline-block;
  width: 100px;
}

.comment textarea {
  width: 100%;
  padding: 10px;
}

.note {
  border-top: 1px dotted;
}

#account-set-up {
  margin: 150px 0 100px 0;
}

.get-info form input, .get-info form select {
  font-size: 21pt;
  border: none;
  border-bottom: 2px dotted;
  padding: 0 10px;
  color: #2d736b;
  width: 100%;
  background-color: transparent;
  outline: none;
}

.get-info form label {
  font-size: 19px;
}

.get-info form .info-bot__1 {
  display: inline-block;
}

.get-info form .info-bot__1:nth-of-type(1) {
  width: 45%;
  margin-right: 1%;
}

.get-info form .info-bot__1:nth-of-type(1) input {
  width: 100%;
}

.get-info form .info-bot__1:nth-of-type(2) {
  width: 20%;
  margin: 0 1%;
}

.get-info form .info-bot__1:nth-of-type(2) select {
  width: 100%;
}

.get-info form .info-bot__1:nth-of-type(3) {
  width: 28%;
  margin-left: 1%;
}

.get-info form .info-bot__1:nth-of-type(3) input {
  width: 100%;
}

.option-st1-0--1 {
  border: 5px solid #fff;
  padding: 3px;
}

.option-st1-0--1:hover {
  border-color: #2d736b;
}

.option-st1-0__child {
  border: 1px dotted;
  background-color: transparent;
  padding: 30px;
}

.option-st1-0__child.active {
  background: #2d736b;
}

.option-st1-1--1 {
  border: 5px solid #fff;
  padding: 3px;
}

.option-st1-1--1:hover {
  border-color: #2d736b;
}

.option-st1-1__child {
  border: 1px dotted;
  background-color: transparent;
  padding: 30px;
}

.option-st1-1__child.active {
  background: #2d736b;
}

.option-st1-2--1 {
  border: 5px solid #fff;
  padding: 3px;
}

.option-st1-2--1:hover {
  border-color: #2d736b;
}

.option-st1-2__child {
  border: 1px dotted;
  background-color: transparent;
  padding: 30px;
}

.option-st1-2__child.active {
  background: #2d736b;
}

#meal-plan-st1 {
  margin: 150px 0 100px 0;
}

.meal-plan-st1--price h2 {
  border-bottom: 1px dotted;
  border-top: 1px dotted;
  padding: 15px 0;
}

.meal-plan-st1--price h2 span {
  float: right;
}

#preferences {
  margin: 150px 0 100px 0;
}

.col-50 {
  position: relative;
}

.col-50:nth-child(1)::before {
  position: absolute;
  right: -webkit-calc(50% + 7.5px);
  right: -moz-calc(50% + 7.5px);
  right: calc(50% + 7.5px);
  top: 100%;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  content: "Your first pet";
  color: #2d736b;
}

.col-50:nth-child(1)::after {
  position: absolute;
  left: -webkit-calc(50% + 7.5px);
  left: -moz-calc(50% + 7.5px);
  left: calc(50% + 7.5px);
  top: 100%;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  content: "Preferences";
  color: #2d736b;
}

.col-50:nth-child(1) .process.active {
  border-bottom: 2px solid #2d736b;
  z-index: 1000 !important;
}

.col-50:nth-child(1) .process.active::after {
  background: #f4da6d;
}

.col-50:nth-child(1) .process::before {
  position: absolute;
  top: 1px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: "";
  font-size: 20px;
  height: 15px;
  width: 15px;
  background: #cd6155;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.col-50:nth-child(1) .process::after {
  position: absolute;
  top: 1px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 100%;
  content: "";
  height: 15px;
  width: 15px;
  border: 2px solid #f4da6d;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.col-50:nth-child(2)::after {
  position: absolute;
  left: -webkit-calc(50% + 7.5px);
  left: -moz-calc(50% + 7.5px);
  left: calc(50% + 7.5px);
  top: 100%;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  content: "Select a meal plan";
  color: #2d736b;
}

.col-50:nth-child(2) .process::after {
  position: absolute;
  top: 1px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 100%;
  content: "";
  height: 15px;
  width: 15px;
  border: 2px solid #2d736b;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.col-50:nth-child(2) .process.active {
  border-bottom: 2px solid #2d736b;
}

.col-50:nth-child(2) .process.active::after {
  background: #2d736b;
}

.progress {
  text-align: center;
}

.progress-bar {
  margin: 0 auto;
  padding: 0 45px;
  max-width: 580px;
  background-color: transparent;
  display: block;
}

.progress .process {
  border-bottom: 2px dotted;
  margin: 3px 0;
  position: relative;
}

#sign-up {
  margin: 150px 0 100px 0;
}

.paragrap {
  font-size: 44px;
  margin: 25px 0;
  line-height: 85px;
}

.paragrap form {
  width: 100%;
}

.paragrap select, .paragrap input {
  border: none;
  background-color: transparent;
  padding: 0 15px;
  outline: 0;
  border-bottom: 3px dotted;
  height: 60px;
  color: #2d736b;
}

.looks form {
  width: 100%;
}

.looks .col-md-3:nth-child(4) .looks__demo--check-box::before {
  content: none;
}

.looks__demo--check-box {
  position: relative;
}

.looks__demo--check-box::before {
  content: "";
  position: absolute;
  width: -webkit-calc(100% + 30px);
  width: -moz-calc(100% + 30px);
  width: calc(100% + 30px);
  height: 3px;
  background: #cd6155;
  left: 50%;
  top: 22px;
}

.looks__demo--check-box input {
  margin-top: 15px;
  position: relative;
  z-index: 9;
}

.owl-dots {
  display: none;
}

header {
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  -moz-transition: all 1.5s;
  transition: all 1.5s;
  z-index: 1001;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  padding: 30px;
}

header .header__elem {
  position: relative;
}

header .container {
  position: relative;
}

header .main_menu {
  height: 35px;
}

header .main_menu ul {
  word-spacing: -4px;
}

header .main_menu ul li {
  color: #fff;
  word-spacing: 2px;
  padding-right: 60px;
  padding-left: 10px;
  border-right: 2px solid #fff;
  line-height: 15px;
  position: relative;
  vertical-align: middle;
  line-height: 35px;
}

header .main_menu ul li:first-child {
  padding-left: 0;
}

header .main_menu ul li:hover::after {
  left: 0;
  opacity: 1;
}

header .main_menu ul li::after {
  content: "";
  position: absolute;
  bottom: 42px;
  left: -100%;
  opacity: 0;
  height: 6px;
  width: 66%;
  background-color: #cd6155;
  -webkit-transition: left 0.3s, opacity 0.2s;
  -o-transition: left 0.3s, opacity 0.2s;
  -moz-transition: left 0.3s, opacity 0.2s;
  transition: left 0.3s, opacity 0.2s;
}

header .main_menu ul li:last-child {
  border: none;
}

header .logo-site {
  top: 0;
  width: 110px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1002;
}

header .action-user-site {
  float: right;
}

header .action-user-site .btn-register {
  width: 177px;
  height: 35px;
  line-height: 35px;
  font-size: 19px;
  margin-left: 20px;
}

header .action-user-site .btn-register i {
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

header .action-user-site form {
  position: relative;
}

header .action-user-site form .hide {
  position: absolute;
  display: none;
}

.scroll {
  background: #f2e2cb;
}

.scroll .logo-site {
  top: -30px;
  left: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.banner {
  display: table;
  table-layout: fixed;
  width: 100%;
  background-image: url(http://via.placeholder.com/1273x740);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.banner__elem {
  display: table-cell;
  height: 100vh;
  vertical-align: middle;
}

.banner .search {
  margin-top: 64px;
}

.banner .search h1 {
  color: #f5f5f5;
}

.banner .search input {
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 4px dotted #f5f5f5;
  font-family: "ArcherPro Book" , sans-serif;
  font-size: inherit;
  color: inherit;
  max-width: 200px;
  text-decoration: none;
}

.banner .search input::-webkit-input-placeholder {
  color: #f5f5f5;
  font-size: inherit;
}

.banner .search input:-moz-placeholder {
  color: #f5f5f5;
  font-size: inherit;
}

.banner .search input::-moz-placeholder {
  color: #f5f5f5;
  font-size: inherit;
}

.banner .search input:-ms-input-placeholder {
  color: #f5f5f5;
  font-size: inherit;
}

.banner .search input::-ms-input-placeholder {
  color: #f5f5f5;
  font-size: inherit;
}

.banner .search input::placeholder {
  color: #f5f5f5;
  font-size: inherit;
}

.banner .search .btn-fetch {
  border-width: 3px;
  width: 200px;
  height: 60px;
  line-height: 60px;
  font-size: inherit;
}

.meals {
  text-align: center;
  background-color: #cd6155;
}

.meals__elem {
  display: inline-block;
}

.meals__elem p {
  color: #f5f5f5;
}

.meals__item {
  margin-bottom: 30px;
}

.meals__item:last-child {
  margin: 0;
}

.meals__img, .meals__text {
  padding: 0 15px;
}

.meals__img {
  text-align: left;
}

.meals__img-right {
  text-align: right;
}

.meals__text {
  text-align: left;
}

.meals__text h3 {
  margin-top: 10px;
}

.meals__text p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
}

.feed {
  text-align: center;
  background-color: #726658;
  color: #f5f5f5;
}

.feed__elem {
  display: inline-block;
  padding: 0 30px;
}

.feed__content p {
  margin-bottom: 45px;
}

.feed__content p.note {
  margin-top: 16px;
  margin-bottom: 0;
}

.feed__content .btn-feed {
  height: 46px;
  width: 204px;
  line-height: 46px;
  font-size: 24px;
}

.slide__owl {
  position: relative;
}

.slide p {
  font-size: 30px;
  text-transform: uppercase;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  z-index: 997;
  background: #fff;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid;
}

.owl-carousel .owl-nav {
  color: #f5f5f5;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  width: 50px;
  background: transparent;
  font-size: 150px;
  font-weight: 100;
}

.works {
  text-align: center;
  background-color: #f2e2cb;
}

.works__elem {
  display: inline-block;
  padding: 0  30px;
}

.works__elem > p {
  margin-top: 0;
  margin-bottom: 50px;
}

.works__img {
  overflow: hidden;
}

.works__img img {
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.works__text h3 {
  margin-top: 36px;
}

.works__text p {
  padding: 0 20%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 74px;
}

.works .btn-work {
  width: 252px;
  height: 46px;
  line-height: 46px;
  font-size: 24px;
}

.works .btn-work span {
  color: #cd6155;
}

.title-popup {
  font-size: 24px;
}

.popup-site {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: table;
  z-index: 1001;
}

.popup-sigin__child {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
}

.popup-sigin__child form {
  margin: 0 auto;
  max-width: 300px;
  background: #f2e2cb;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px 50px;
}

.popup-sigin__child form label {
  width: 90px;
  display: inline-block;
}

.popup-sigin__child form input {
  padding: 0 5px;
  width: 190px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-family: "ArcherPro Book" , sans-serif;
}

.popup-sigin h3 {
  margin: 0 0 20px 0;
}

.popup-sigin .btn-sigin {
  margin-left: 92px;
  width: 100px;
  height: 24px;
  line-height: 24px;
}

.popup-register__child {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
}

.popup-register__child form {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 300px;
  background: #f2e2cb;
  padding: 20px 50px;
}

.popup-register__child form label {
  width: 90px;
  display: inline-block;
}

.popup-register__child form label:nth-of-type(4) {
  vertical-align: bottom;
}

.popup-register__child form input {
  padding: 0 5px;
  width: 190px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-family: "ArcherPro Book" , sans-serif;
}

.popup-register h3 {
  margin: 0 0 20px 0;
}

.popup-register .btn-resgister {
  margin-left: 92px;
  width: 100px;
  height: 24px;
  line-height: 24px;
}

.footer {
  background-color: #2d736b;
}

.footer__top {
  padding: 30px 0;
  color: #fff;
}

.footer__elem {
  margin: 1px 0;
}

.footer__elem .list-foot {
  padding: 0;
}

.footer__elem .list-inline {
  word-spacing: -4px;
  text-align: center;
  color: #2d736b;
  margin: 0px 40px;
}

.footer__elem .list-inline li {
  width: 50%;
  word-spacing: 2px;
}

.footer__elem .head {
  font-size: 24px;
}

.footer a {
  text-decoration: none;
}

.footer__bot {
  padding: 15px 0;
  background: #000;
}

.footer__bot p {
  color: #f5f5f5;
  font-size: 14px;
}

.footer .social {
  text-align: center;
  width: 60%;
  -webkit-transform: translateY(-75px);
  -moz-transform: translateY(-75px);
  -ms-transform: translateY(-75px);
  -o-transform: translateY(-75px);
  transform: translateY(-75px);
  background-color: #f5f5f5;
  padding-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 940px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  h1 {
    font-size: 26pt;
  }
  .banner .search input {
    max-width: 150px;
  }
  .banner .search .btn-fetch {
    width: 160px;
    height: 46px;
    line-height: 46px;
  }
}

@media only screen and (max-width: 768px) {
  header .main_menu ul li {
    padding-right: 40px;
  }
}

@media only screen and (max-width: 520px) {
  header .main_menu {
    float: none;
    text-align: center;
    padding-bottom: 0;
  }
  header .main_menu ul li {
    padding: 0 15px;
  }
  header .logo-site {
    position: relative;
  }
  header .action-user-site {
    float: none;
    position: absolute;
    top: 0;
    width: 100%;
    left: 89%;
    text-align: center;
    padding: 20px 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  header .action-user-site form {
    position: relative;
  }
  header .action-user-site form .hide {
    position: absolute;
    display: block;
    top: -5px;
    left: 15px;
    cursor: pointer;
    color: #fff;
  }
  header .active.action-user-site {
    background: #f2e2cb;
    left: 0;
  }
}

/*# sourceMappingURL=style.css.map */

a{
  cursor: pointer;
}
.option.opacity{
  position: relative;
}
.option.opacity::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(255,255,255, 0.4);
}

.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

