/*--home---*/
.banner .search{
    margin-top: 20px;
}
.meals__text h3{
    font-size: 15px;
}
.meals__text p{
    font-size: 12px;
    line-height: 1.3;
}
.title-section{
    font-size: 31pt;
}
.feed__content p{
    width: 60%;
    margin: 0 auto 30px;
    font-size: 13px;
}
.banner__elem p{
    font-size: 16px;
    margin-top: 15px;
}
.feed__elem h2{
    margin-bottom: 30px;
}
.slide p{
    background: #404040;
    transform: translateY(0);
    border: none;
    max-width: 100%;
    color: #ffffff;
}
.works h2.title-section{
    margin-bottom: 20px;
}
.works__elem>p{
    max-width: 40%;
    margin: 0 auto 40px;
}
.works__text p{
    margin-bottom: 55px;
}

.meals__elem .col-md-4{
    display: none;
}
.meals__elem .col-md-8{
    margin: auto;
}
.works__img img{
    border-radius: 0;
}
/*end-home*/

/*Preferences*/
.btn-preferences-next,
.btn-preferences-back,
.meal-plan-st1--btn .btn-res,
.meal-plan-st1--price .btn-res{
    padding: 5px 20px;
}
.btn-default{
    font-weight: 700;
}
.bone-options{
    background-color: #cf6255;
    color: #ffffff;
}
.bone-options h3{
    letter-spacing: 1.2px;
}
.bone-options h2,
.allergies h2{
    margin-bottom: 30px;
}
.bone-options input{
    margin-right: 5px;
    vertical-align: middle;
}
.bone-options label{
    margin: 0;
    vertical-align: middle;
}
.allergies{
    background-color: #fae5d3;
}
.allergies input{
    padding-left: 10px;
}
#section-pref-3{
    padding: 20px 0;
    background-color: #726658;
}
.btn-preferences-next{
    margin-left: 15px;
}
#preferences{
    padding: 95px 0 0px 0;
    margin: 0;
    background-color: #e9ecef;
}
/*End-Preferences*/

/*MealPlan*/
.option-st1-0 h2,
.option-st1-1 h2,
.option-st1-2 h2{
    font-size: 31pt;
    margin-bottom: 20px;
}
.option-st1-0 p,
.option-st1-1 p,
.option-st1-2 p{
    font-size: 13px;
}
.option-st1-0{
    background-color: #fae5d3;
}
.option-st1-0__child{
    background-color: #b2a093;
}
.option-st1-0__child.active,
.option-st1-1__child.active,
.option-st1-2__child.active{
    background-color: #ffffff;
}
.option-st1-0--1,
.option-st1-1--1,
.option-st1-2--1{
    padding: 0;
    cursor: pointer;
    border: 2px solid transparent;
}
.option-st1-0 .row,
.option-st1-1 .row,
.option-st1-2 .row{
    padding-top: 10px;
}
.option-st1-0--1:hover,
.option-st1-1--1:hover,
.option-st1-2--1:hover{
    border-color: #3c1221;
}
.option-st1-0__child,
.option-st1-1__child,
.option-st1-2__child{
    border: none;
    color: #3c1221;
}
.option-st1-0__child h3,
.option-st1-1__child h3,
.option-st1-2__child h3{
    font-size: 30px;    
}
.option-st1-0__child p,
.option-st1-1__child p,
.option-st1-2__child p{
    font-size: 16px;
}
.option-st1-1{
    background-color: #cf6255;
}
.option-st1-1 h2,
.option-st1-2 h2{
    color: #fff;
}
.option-st1-1__child{
    background-color: #9d5348;
}
.option-st1-2{
    background-color: #726659;
}
.option-st1-2__child{
    background-color: #998e82;
}
#meal-plan-st1{
    margin: 0;
    padding-top: 95px;
}
.meal-plan-st1--btn{
    padding: 45px 0;
    background-color: #fae5d3;
}
.meal-plan-st1--price{
    background-color: #fae5d3;
}
/*End-MealPlan*/
.col-50:nth-child(1) .process.active{
    border: 1px solid #000;
    border-color: #000;
}
.col-50:nth-child(2) .process.active{
    border: 1px solid #000;
    border-color: #000;
}
.col-50:nth-child(1) .process.active::after{
    background: #000;
    border-color: #000;
}
.col-50:nth-child(2) .process.active::after{
    background: #000;
    border-color: #000;
}
#preferences .col-50:nth-child(1) .process::before{
    background: #000;
    border-color: #000;
}
#meal-plan-st1 .col-50:nth-child(1) .process::before{
    background: #000;
    border-color: #000;
}