/* account-set-up */
/* header */
header a{
  color: #cd6155;
}
header a:hover{
  color: #cd6155;
}
header a::before{
  background: #cd6155 !important;
}
header .btn-login,header .btn-white{
  color: #cd6155;
}
.btn-default.btn-white{
  color: #cd6155;
  border-color: #cd6155;
}
header .main_menu{
  float: left;
  left: 60px;
  position: absolute;
  z-index: 1002;
  transition: all .5s ease;
}
header .main_menu ul li a{
  position: relative;
  padding-left: 10px;
}
header .main_menu ul li a::before{
  content: "";
  height: 100%;
  width: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0px;
}
header .logo-site{
  top: -30px;
}
header.scroll .main_menu{
  left: 150px;
}
.scroll{
  background-color: #ffffff;
  
}
/* .scroll a{
  color: #cd6155;
}
.scroll a::before{
  background: #cd6155 !important;
}
.scroll a i,.scroll a span{
  color: #cd6155;
}
.scroll .btn-white{
  color: #cd6155;
  border-color: #cd6155;
} */
.progress{
  background: #cd6155;
}
.progress .process{
  border-style: solid;
  border-width: 1px;
}
.progress-bar{
  padding: 0;
}
.col-50:nth-child(1) .process::before{
  background: #fae5d3;
}
.col-50:nth-child(1)::before,.col-50:nth-child(1)::after,.col-50:nth-child(2)::after{
  color: #fae5d3;
}
/* account */
#account-set-up{
  background: #fae5d3;
  padding: 150px 0 100px;
  margin: 0;
}
#account-set-up h1{
  color: #3c1221;
}
.get-info form label{
  font-weight: 700;
  color: #3c1221;
  padding-top: 5px;
  text-transform: capitalize;
}
.get-info form input, .get-info form select{
  color: #cf6255;
  padding: 2px 0;
}
.get-info .btn-default.btn-res{
  margin-top: 50px;
  padding: 5px 20px;
}
/* .btn-default.btn-res:hover{
  background: #f5f5f5;
  color: #cf6255 !important;
  border-color: #cf6255;
} */
/* footer */
.footer__top{
  background: #444545;
  padding: 50px 0 30px;
}
.footer__elem .list-inline{
  margin: 0;
}
.footer__elem .list-inline li{
  padding: 0 10px;
  width: auto;
}
.footer__bot p{
  margin: 0;
  font-weight: 700;
}
/* signup */
#sign-up{
  padding-top: 95px;
  background: #fae5d3;
  margin: 0;
}
.btn-signup-next{
  padding: 5px 20px;
}
.col-50:nth-child(1) .process::after{
  z-index: 10;
  border-color: #fae5d3;
  background: #cd6155;
}
.col-50:nth-child(2) .process::after{
  border-color: #fae5d3;
}
.looks__demo--check-box input{
  margin-top: 17px;
}
p{
  font-size: 13px;
}
.description.section-padding{
  background: #fae5d3;
}
.description.section-padding h1{
  font-weight: 700;
}
.footer .social{
  transform: translateY(0);
}
#sign-up .btn-signup-next{
  margin: 0;
  margin-bottom: 30px;
}
.looks__demo--check-box::before{
  background: #fae5d3;
}
.looks__demo--check-box label{
  color: #fff;
}
.looks{
  background: #726659;
}
.sign-up-end{
  background: #fae5d3;
}
.paragrap select, .paragrap input{
  color: #cf6255;
}
